
<!DOCTYPE html>
<html lang="en">
<head>
    <title>HomeShare</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/owlCarousel")
    @Styles.Render("~/Content/slitSlider")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("TemplateScript", required: false)
    @RenderSection("Scripts", required: false)
</head>

<body>
    <!-- Header Starts -->
    <div class="navbar-wrapper">
        <div class="navbar-inverse" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>


                <!-- Nav Starts -->
                <div class="navbar-collapse  collapse">                    
                    <ul class="nav navbar-nav navbar-right">
                        <li class="@ViewBag.Home"><a href="~/Home/Index">Home</a></li>
                        <li class="@ViewBag.About"><a href="~/Home/About">A propos de nous</a></li>
                        <li class="@ViewBag.Owners"><a href="~/Home/Owners">Les Propriétaires</a></li>
                        <li class="@ViewBag.Echanges"><a href="~/Home/Echanges">Les Biens à Echanger</a></li>
                        <li class="@ViewBag.Contact"><a href="~/Home/Contact">Contactez-nous</a></li>
                        @if (HomeShare.infra.SessionUtils.IsLogged)
                        {
                            <li class="@ViewBag.MySpace"><a href="~/Membre/Home/Index">Mon espace</a></li>
                        }
                    </ul>
                </div>
                <!-- #Nav Ends -->

            </div>
        </div>
    </div>
    <!-- #Header Starts -->
    <div class="container">

        <!-- Header Starts -->
        <div class="header myHeaderFlex">
            <div class="logo-modo">
                <img class="" src="~/images/logo.png" alt="Home Share">
                <p class="modo">Share your home... share the world ...</p>
            </div>

            <ul class="">
                @if (HomeShare.infra.SessionUtils.IsLogged)
                {
                    <li><a href="~/Membre/Home/Index">Echanger</a></li>
                }
                else
                {
                    <li><a href="~/Home/Echanges">Echanger</a></li>
                }
                <li><a href="#">Visiter</a></li>

                @if (HomeShare.infra.SessionUtils.IsLogged)
                {
                    <li><a href="~/Account/Logout">Se déconnecter</a></li>
                }
                else
                {
                    <li><a href="~/Account/Login">Se connecter</a></li>
                }

            </ul>
        </div>
        <!-- #Header Starts -->
    </div>
    @RenderBody()
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-3">
                    <h4>Information</h4>
                    <ul class="row">
                        <li class="col-lg-12 col-sm-12 col-xs-3"><a href="~/Home/About">A propos de nous</a></li>
                        <li class="col-lg-12 col-sm-12 col-xs-3"><a href="~/Home/Owner">Nos propriétaires</a></li>
                        <li class="col-lg-12 col-sm-12 col-xs-3"><a href="~/Home/Echanges">Bien à échanger</a></li>
                        <li class="col-lg-12 col-sm-12 col-xs-3"><a href="~/Home/Contact">Contact</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-sm-3">
                    <h4>Newsletter</h4>
                    <p>Recevoir notre newsletter et soyez avertis de nos dernières nouveautés</p>
                    <form class="form-inline" role="form">
                        <input type="text" placeholder="Entrez votre adresse email" class="form-control">
                        <button class="btn btn-success" type="button">Prevenez-moi !</button>
                    </form>
                </div>

                <div class="col-lg-3 col-sm-3">
                    <h4>Suivez-nous</h4>
                    <a href="#"><img src="~/images/facebook.png" alt="facebook"></a>
                    <a href="#"><img src="~/images/twitter.png" alt="twitter"></a>
                    <a href="#"><img src="~/images/linkedin.png" alt="linkedin"></a>
                    <a href="#"><img src="~/images/instagram.png" alt="instagram"></a>
                </div>

                <div class="col-lg-3 col-sm-3">
                    <h4>Contactez-nous</h4>
                    <p>
                        <b>HomeSahre Inc.</b><br>
                        <span class="glyphicon glyphicon-map-marker"></span> 8290 Walk Street, Australia <br>
                        <span class="glyphicon glyphicon-envelope"></span> hello@bootstrapreal.com<br>
                        <span class="glyphicon glyphicon-earphone"></span> (123) 456-7890
                    </p>
                </div>
            </div>
            <p class="copyright">Copyright 2013. All rights reserved.</p>
        </div>
    </div>
    <!-- Modal -->
    <div id="loginpop" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="row">
                    
                    <div class="col-lg-10">
                        <h4>Nouveau parmis nous</h4>
                        <p>Rejoingnez-nous pour avoir accès à toutes nos offres de biens à échanger !</p>
                        <a role="button" class="btn btn-info" href="/Account/Register">S'inscrire</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- /.modal -->
</body>
</html>