@model HomeShare.Models.HomeViewModel

@{
    ViewBag.Title = "Home";
}

<div class="">
    <div id="slider" class="sl-slider-wrapper">
        <div class="sl-slider">
            @foreach (HomeShare.Models.BienModel item in Model.ListTopBien)
            {
            <div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">
                <div class="sl-slide-inner">
                    <div class="bg-img bg-img-1"></div>
                    <h2><a href="#">@item.Titre</a></h2>
                    <blockquote>
                        <p class="location"><span class="glyphicon glyphicon-map-marker"></span>@item.Ville</p>
                        <p>@item.DescCourte</p>
                        @if (item.IsEnabled)
                        {
                            <cite>Est disponible !</cite>
                        }
                        else
                        {
                            <cite>Revient bientôt !</cite>
                        }
                    </blockquote>
                </div>
            </div>
            }
                        
        </div><!-- /sl-slider -->
        <nav id="nav-dots" class="nav-dots">
            <span class="nav-dot-current"></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </nav>
    </div><!-- /slider-wrapper -->
</div>

<div class="banner-search">
    <div class="container">
        <!-- banner -->
        <h3>Trouvez un bien !</h3>
        <div class="searchbar">
            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    <input type="text" class="form-control" placeholder="Search of Properties">
                    <div class="row">
                        <div class="col-lg-3 col-sm-3 ">
                            <select class="form-control">
                                <option>Buy</option>
                                <option>Rent</option>
                                <option>Sale</option>
                            </select>
                        </div>
                        <div class="col-lg-3 col-sm-4">
                            <select class="form-control">
                                <option>Price</option>
                                <option>$150,000 - $200,000</option>
                                <option>$200,000 - $250,000</option>
                                <option>$250,000 - $300,000</option>
                                <option>$300,000 - above</option>
                            </select>
                        </div>
                        <div class="col-lg-3 col-sm-4">
                            <select class="form-control">
                                <option>Property</option>
                                <option>Apartment</option>
                                <option>Building</option>
                                <option>Office Space</option>
                            </select>
                        </div>
                        <div class="col-lg-3 col-sm-4">
                            <button class="btn btn-success" onclick="window.location.href="#">Chercher</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-lg-offset-1 col-sm-6 ">
                    <p>Rejoignez-nous pour plus de choix !</p>
                    <button class="btn btn-info" data-toggle="modal" data-target="#loginpop">Nous rejoindre !</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- banner -->
<div class="container">
    <div class="properties-listing spacer">
        <a href="buysalerent.php" class="pull-right viewall">View All Listing</a>
        <h2>Nos meilleurs biens</h2>
        <div id="owl-example" class="owl-carousel">
            
            @foreach (HomeShare.Models.BienModel item in Model.ListTopBien)
            {
                <div class="properties">
                    <div class="image-holder">
                        <img src="~/images/properties/@item.Photo" class="img-responsive" alt="properties" />
                        <div class="status sold">A échanger</div>
                    </div>
                    <h4><a href="~/Home/BienDetails">@item.Titre</a></h4>
                    <p class="price">@item.DescCourte</p>
                    <a class="btn btn-primary" href="~/Home/BienDetails">Voir Details</a>
                </div>
             }

        </div>
    </div>
    <div class="spacer">
        <div class="row">
            <div class="col-lg-6 col-sm-9 recent-view">
                <h3>About Us</h3>
                <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.<br><a href="about.php">Learn More</a></p>

            </div>
            <div class="col-lg-5 col-lg-offset-1 col-sm-3 recommended">
                <h3></h3>
                <div id="myCarousel" class="carousel slide">
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1" class=""></li>
                        <li data-target="#myCarousel" data-slide-to="2" class=""></li>
                        <li data-target="#myCarousel" data-slide-to="3" class=""></li>
                    </ol>
                    <!-- Carousel items -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="row">
                                <div class="col-lg-4"><img src="~/images/properties/1.jpg" class="img-responsive" alt="properties" /></div>
                                <div class="col-lg-8">
                                    <h5><a href="property-detail.php">Integer sed porta quam</a></h5>
                                    <p class="price">$300,000</p>
                                    <a href="property-detail.php" class="more">More Detail</a>
                                </div>
                            </div>
                        </div>
                        @foreach (HomeShare.Models.BienModel item in Model.ListTopBien)
                        {
                            <div class="item">
                                <div class="row">
                                    <div class="col-lg-4"><img src="~/images/properties/@item.Photo" class="img-responsive" alt="properties" /></div>
                                    <div class="col-lg-8">
                                        <h5><a href="~/Home/BienDetails">@item.Titre</a></h5>
                                        <p class="price">@item.Ville</p>
                                        <p class="price">nombre de prs : @item.NombrePerson</p>
                                        <a href="property-detail.php" class="more">En savoir plus</a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section TemplateScript
{
    @Scripts.Render("~/bundles/slitSlider")
    @Scripts.Render("~/bundles/owlCarousel")
    @Scripts.Render("~/bundles/customScript")
    @Scripts.Render("~/bundles/jquery.ba-cond.min")

}
